<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* .qrcode{
           
            border:1px solid black;
            height: 100px;
            width: 100px;
        }
        .mill h3{
        text-align: center;
        }
        .Dno{
            margin-top: -10px;
            padding: 0px;
        }
        .col-1 p,h5{
            padding: 0px;
            margin-top: -8px;
        } */
    </style>
</head>
<body>
    <div class="mill">
        <h3 style="font-size: 50px; margin-bottom: 0; padding: 0;">Test mill pvt(unit-1)</h3>
        <h5 style="padding: 0; margin-top:-10px; font-size:30px;">Do number: 345432</h5>
    </div>
        <div class="col-1" style="margin: 100px;">
            <p style="padding: 0; margin: 0; font-size:35px;"> date: 10-3-23</p>
            <h5 style="padding: 0; margin: 0; font-size:35px;"> Vehicle No: ka11k2345</h5>
            <h5 style="padding: 0; margin: 0; font-size:35px;"> party name: </h5>
        </div>
        <div class="col-2" style="margin:55px;">
            <h6 style="padding: 0; margin: 0; font-size:35px;">Order no :445544 </h6>
        <h5 style="padding: 0; margin: 0; font-size:35px;"> Bill To: test mill bangalore britania industry</h5>
        <h5 style="padding: 0; margin: 0; font-size:35px;"> Ship To: test mill 2 kandla port</h5>
        <h5 style="padding: 0; margin: 0; font-size:35px;"> product: sugar 22-23 </h5>
        <h5 style="padding: 0; margin: 0; font-size:35px;"> quantity: 50 Qtl</h5>
        </div>
        <div class="qrcode">
            <img src="http://127.0.0.1:8000/static/image/qr.jpg" width="350" height="350" >
        </div>


</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mp-0{
            margin: 0;
            padding: 0;
        }
        .fs-35{
            font-size: 35px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>
                <p style="font-size: 50px; margin-bottom: 0;">Test Mill Private Limited (Unit-1)</p>
                <p style="padding: 0; margin: 0; font-size:40px;">Do No: 345432</h>
            </td>
        </tr>
    </table>
    <table style="margin-bottom: 20px;">
        <tr>
            <td>
                <p class="mp-0 fs-35"> Date: 10-3-2023</p>
                <p class="mp-0 fs-35"> Vehicle No: KA00AA0000</p>
                <p class="mp-0 fs-35"> Party Name: TEST USER</p>
            </td>
        </tr>
        <table style="text-align: center;">
            <tr>
                <td>
                    <img src="http://127.0.0.1:8000/static/image/code.png" width="350" height="350" ; >
                </td>
            </tr>
        </table>
    </table>
    <table>
        <tr>
            <td>
                <p class="mp-0 fs-35">Order No :445544 </p>
                <p class="mp-0 fs-35"> Bill To: Britania industry Private Limited</p>
                <p class="mp-0 fs-35"> Ship To: Britania industry Private Limited.....</p>
                <p class="mp-0 fs-35"> Product Code: WHITE REFINED SUGAR </p>
                <p class="mp-0 fs-35"> Quantity: 50 QTL</p>
            </td>
        </tr>
    </table>
   


</body>
</html>