<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-GLhlTQ8i04FZRIq3zj977uJQAdQ8PLxfx7Xg5l3+cmjkISGifSL4ahDkIs6U6L4" crossorigin="anonymous">

    <title>Document</title>
    <style>
        .mill{
            font-size: 25px;
             margin-bottom: 0; 
              margin-top: 20px;
        }
        /* .mill2{
            font-size: 25px;
             margin-bottom: 0; 
              margin-top: 40px;  
        } */
        .do{
            padding: 0;
             margin: 0;
              font-size:20px;
        }
        .veh fs-12{
            margin-top: 0px;
        }
        .fw{
            font-weight: bold;
        }
        .sign{
            margin-top: 80px;
        }
        .div{
            width: 25%;
            border-right: 1px dashed gray;
        }
        .fs-12{
         font-size: 8px;
        }
        .fs-12{
            font-size: 12px;
        }
        .product{
            font-size: 12px;
            margin: 0;
            padding: 0;
        }
        .mt-30{
            margin-top: 30px;
        }
        .order{
            margin-top: 20px;
        }
        .p-0{
            padding: 0;
        }
        .m-0{
            margin: 0;
        }
        .f-7{
            font-size: 7px;
        }
        .mtb-8{
            margin-top: 16px;
            /* border: 1px solid saddlebrown ; */
        }
        .truck{
            width: 40px;
            height: 40px;
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <!-- first page -->
    <div>
        <div>
            <table>
                <tr>
                    <td style="text-align: left;">
                        <p class="mill">Test Mill Private Limited (Unit-1)</p>
                        <p class="do">Do No: 345432</h>
                        <p style=" margin-top: 0;"> Date: 10-3-2023</p>
                    </td>
                    <td style="text-align: right;">
                        <img src="c:\Users\laksh\OneDrive\Desktop\do html\qr.jpg" style="width: 100px; height: 100px; position: right; right: 10px; top: 10px;">
                    </td>
                </tr>
            </table>
        </div>
        <table>
            <tr style="margin-bottom: -30px;">
                <td  class="div">
                    <div>
                        <p class="p-0 m-0 mtb-8 fs-12">Driver Name:<span class="fw">Harish erjhsefj</span> </p>
                        <p class="p-0 m-0 fs-12">Driver Phone no :<span class="fw">8176543445</span> </p>
                    </div>
                    <div>
                        <p class="p-0 m-0 mtb-8 fs-12">Vehicle No:<span  class="fw">KA12pa5811</span></p>
                        <p claSS="p-0 m-0 fs-12">Party Name:<span  class="fw">Self Order</span></p>            
                    </div>
                    <div>
                        <p class="p-0 m-0 mtb-8 fs-12"><span  class="fw">BILL TO </span>:Test Mill Private Limited Unit-1Test Mill Private Limited (Unit-1)29ANAGC6RRE349Z BANGALORE</p>
                        <p class="p-0 m-0 fs-12">Remarks:<span style="font-weight: bold;color: red;">credit-sale</span> </p>
                        <p class="p-0 m-0 fs-12">Order remark:<span class="fw">0998890</span> </p>
                    </div>
                </td>
                <td style="width: 25%; margin-left: 8px; padding: 0px;margin-top: 0px;">
                    <div class="order">
                        <p class=" fs-12">Order No:<span class="fw">545432</span> </p>
                        <p class=" fs-12"><span class="fw">FROM</span> Test Mill Private Limitedest Mill Private Limited (Unit-1)29ANAGC6RRE349Z BANGALOR</p>
                    </div>
                    <!-- <div class="order">
                        <p class=" fs-12">Order No:<span class="fw">545432</span> </p>
                        <p class=" fs-12"><span class="fw">FROM</span> Test Mill Private Limited (Unit-1)29ANAGC6RRE349Z BANGALOR</p>
                    </div> -->
                    <!-- <div class="order">
                        <p class=" fs-12">Order No:<span class="fw">545432</span> </p>
                        <p class=" fs-12"><span  class="fw">FROM</span> Test Mill Private Limited (Unit-1)29ANAGC6RRE349Z BANGALOR</p>
                    </div> -->
                </td>
                <td style="width: 25%;">

                    <div>
                        <!--  -->
                        <p>
                            <span class="f-7 p-0 m-0">WHITE SUGAR WHITE REFINED SUGAR SUGAR</span><br>
                            <span>-----------------------------------</span> <br>
                            <span >450QTY <span><img  class="truck" src="C:\Users\laksh\OneDrive\Desktop\do html\truck.jpg" style="width: 35px;height:35px"></span> </span>
                        </p>
                        
                    </div>

                    <!-- <div>
                        <p>
                            <span >WHITE REFINED SUGAR SUGAR WHITE REFINED SUGAR SUGAR</span><br>
                            <span >--------------------------------</span> <br>
                            <span >450QTY</span>
                        </p>
                    </div> -->
                    <!-- <div>
                        <p>
                            <span class="f-7 p-0 m-0">WHITE REFINED SUGAR SUGAR WHITE REFINED SUGAR SUGAR</span><br>
                            <span class="p-0 m-0">--------------------------------</span> <br>
                            <span class="p-0 m-0">450QTY</span>
                        </p>
                    </div> -->
                </td>
                <td style="width: 25%;">
                    <div>
                        <p class="p-0"><span  class="fw">TO :</span>Ennor port-329ANAGC6RRE349Z-chennai Ennor port-329ANAGC6RRE349Z-chennai </p>
                    </div>
                    <!-- <div>
                        <p class="p-0"><span  class="fw">TO :</span>Ennor port-329ANAGC6RRE349Z-chennai </p>
                    </div> -->
                    <!-- <div>
                        <p class="p-0"><span  class="fw">TO :</span>Ennor port-329ANAGC6RRE349Z-chennai </p>
                    </div> -->
                </td>
            </tr>
        </table>
        <table class="sign">
            <tr class="sign">
              <td>
                 Driver sign
              </td>
              <td>
                Security Officer
              </td>
              <td>
                Godown In-charge
              </td>
              <td>
                supervisor Receiver
              </td>
              <td>
                Receiver
              </td>
            </tr>
        </table>
    </div>
    <div>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
    <!-- Second page -->
    <div>
        <div>
            <table style="margin-top: 25px;">
                <tr>
                    <td style="text-align: left;">
                        <p class="mill">Test Mill Private Limited (Unit-1)</p>
                        <p class="do">Do No: 345432</h>
                        <p style=" margin-top: 0;"> Date: 10-3-2023</p>
                    </td>
                    <td style="text-align: right;">
                        <img src="c:\Users\laksh\OneDrive\Desktop\do html\qr.jpg" style="width: 100px; height: 100px; position: right; right: 10px; top: 10px;">
                    </td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td  class="div">
                        <div class="mtb-8">
                            <p class="p-0 m-0 mtb-8 fs-12">Driver Name:<span class="fw">Harish erjhsefj</span> </p>
                            <p class="p-0 m-0 fs-12">Driver Phone no :<span class="fw">8176543445</span> </p>
                        </div>
                        <div class="mtb-8">
                            <p class="p-0 m-0 mtb-8 fs-12">Vehicle No:<span  class="fw">KA12pa5811</span></p>
                            <p claSS="p-0 m-0 fs-12">Party Name:<span  class="fw">Self Order</span></p>            
                        </div>
                        <div class="mtb-8">
                            <p class="p-0 m-0 mtb-8 fs-12"><span  class="fw">BILL TO </span>:Test Mill Private Limited Unit-1Test Mill Private Limited (Unit-1)29ANAGC6RRE349Z BANGALORE</p>
                            <p class="p-0 m-0 fs-12">Remarks:<span style="font-weight: bold;color: red;">credit-sale</span> </p>
                            <p class="p-0 m-0 fs-12">Order remark:<span class="fw">0998890</span> </p>
                        </div>
                </td>
                <td style="width: 25%; margin-left: 8px; padding: 0px;margin-top: 0px;">
                    <div class="order">
                        <p class=" fs-12">Order No:<span class="fw">545432</span> </p>
                        <p class=" fs-12"><span class="fw">FROM</span> Test Mill Private Limitedest Mill Private Limited (Unit-1)29ANAGC6RRE349Z BANGALOR</p>
                    </div>
                    <!-- <div class="order">
                        <p class=" fs-12">Order No:<span class="fw">545432</span> </p>
                        <p class=" fs-12"><span class="fw">FROM</span> Test Mill Private Limited (Unit-1)29ANAGC6RRE349Z BANGALOR</p>
                    </div> -->
                    <!-- <div class="order">
                        <p class=" fs-12">Order No:<span class="fw">545432</span> </p>
                        <p class=" fs-12"><span  class="fw">FROM</span> Test Mill Private Limited (Unit-1)29ANAGC6RRE349Z BANGALOR</p>
                    </div> -->
                </td>
                <td style="width: 25%;">

                    <div>
                        <p>
                            <span class="f-7 p-0 m-0">WHITE SUGAR WHITE REFINED SUGAR SUGAR</span><br>
                            <span >-----------------------------------</span> <br>
                            <span >450QTY <span><i class="fa-sharp fa-light fa-truck" style="width: 30px;height: 30px;"></i></span></span>
                            
                        </p>
                    </div>

                    <!-- <div>
                        <p>
                            <span class="f-7 p-0 m-0">WHITE REFINED SUGAR SUGAR WHITE REFINED SUGAR SUGAR</span><br>
                            <span >--------------------------------</span> <br>
                            <span ">450QTY</span>
                        </p>
                    </div> -->
                    <!-- <div>
                        <p>
                            <span class="f-7 p-0 m-0">WHITE REFINED SUGAR SUGAR WHITE REFINED SUGAR SUGAR</span><br>
                            <span>--------------------------------</span> <br>
                            <span>450QTY</span>
                        </p>
                    </div> -->
                </td>
                <td style="width: 25%;">
                    <div>
                        <p class="p-0 m-0"><span  class="fw">TO :</span>Ennor port-329ANAGC6RRE349Z-chennai Ennor port-329ANAGC6RRE349Z-chennai </p>
                    </div>
                    <!-- <div>
                        <p class="p-0 m-0"><span  class="fw">TO :</span>Ennor port-329ANAGC6RRE349Z-chennai </p>
                    </div> -->
                    <!-- <div>
                        <p class="p-0"><span  class="fw">TO :</span>Ennor port-329ANAGC6RRE349Z-chennai </p>
                    </div> -->
                </td>
            </tr>
        </table>
        <table class="sign">
            <tr class="sign">
              <td>
                 Driver sign
              </td>
              <td>
                Security Officer
              </td>
              <td>
                Godown In-charge
              </td>
              <td>
                supervisor Receiver
              </td>
              <td>
                Receiver
              </td>
            </tr>
        </table>
    </div>
    
</body>
</html>